@model ZipCodeManager.Models.Zip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Zip</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZIP1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZIP1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.County)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.County)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Long)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Long)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
